.widget {
  background-color: $color-blue-light;
  margin-bottom: $size-xl;
}

.widget__message {
  color: $color-off-white;
  margin: 0;
  padding: $size-large;
  text-align: center;
  border-bottom: 1px solid lighten($color-blue-light, 10%);
}

.widget-header {
  background-color: $color-blue;
  color: $color-off-white;
  display: flex;
  justify-content: space-between;
  padding: $size-med;
}

.widget-header__title {
  margin: 0;
}
